:root {
    --blue: #5A757B;
    --white: #FFE6C5;
    --yellow: #DE9D4A;
    --red: #943031;
    --red-transparent: rgba(148, 48, 49, 0.4);
    --brown-transparent: rgba(83, 64, 60, 0.4);
    --brown: #53403c;
    --black: #393031;

    --vinyl-size: 100px;

    --col-1: 664px;
    --col-2: 376px;
    --row-1: 377px;
    --row-2: 300px;
}

.font-blue { color: var(--blue); }
.background-blue { background-color: var(--blue); }
.font-white { color: var(--white); }
.background-white { background-color: var(--white); }
.font-yellow { color: var(--yellow); }
.background-yellow { background-color: var(--yellow); }
.font-red { color: var(--red); }
.background-red { background-color: var(--red); }
.font-brown { color: var(--brown); }
.background-brown { background-color: var(--brown); }
.font-black { color: var(--black); }
.background-black { background-color: var(--black); }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

.page {
    height: 100vh;
    display: grid;
    grid-template-columns: var(--col-1) var(--col-2);
    grid-column-gap: calc(100vw - var(--col-1) - var(--col-2) - 6vw);
    grid-template-rows: var(--row-1) var(--row-2);
    grid-row-gap: calc(100vh - var(--row-1) - var(--row-2) - 8vh);
    padding: 4vh 3vw;
}

.decoration {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.dots-texture {
    position: absolute;
    bottom: 0;
    height: 180px;
    width: 100%;
    background-image: url("../img/webp/dots-texture.webp");
}

.backgroud-lines {
    width: 80px;
    position: absolute;
    left: 90%;
    top: -290px;
    transform: rotate(-45deg);
}
