.controls-box {
    grid-row: 2;
    text-align: right;
    padding-right: 10px;
    position: relative;
}

audio {
    display: none;
}

.audio-wrapper {
    /* display: none; */
    position: absolute;
    top: 150px;
}

.audio-container{
    position: relative;
    float: right;
    background-color: var(--white);
    margin-top: 1rem;
    margin-left: 2rem;
    width: 491px;
    height: 110px;
    border-radius: 1rem;
    border: 4px solid var(--brown);
}

.timer-bar {
    height: 4px;
    background-color: var(--red-transparent);
    margin: 0 2rem;
    position: relative;
}

.timer-bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 500%;
    top: -200%;
    left: 0;
    cursor: pointer;
}

.timer {
    height: 100%;
    width: 0;
    background-color: var(--red);
}

.pod-name {
    text-align: right;
    font-family: Alba;
    color: var(--red);
    height: 20px;
    text-transform: uppercase;
    text-shadow:
        -2px -2px var(--black),
        2px -2px var(--black),
        -2px 2px var(--black),
        2px 2px var(--black),
        2px 0 var(--black),
        -2px 0 var(--black),
        0 2px var(--black),
        0 -2px var(--black);
        
}

.pod-name2 {
    margin-right: 1rem;
    color: var(--yellow);
}

.pod-name3 {
    margin-right: 2rem;
    color: var(--white);
}

.controls {
    position: absolute;
    bottom: -3rem;
    width: 100%;
}

.controls .bookmark {
    width: 32px;
    height: 22px;
    background-color: var(--yellow);
    border-radius: 10px;
    position: absolute;
    border: 3px solid var(--brown);
    border-bottom-width: 5px;
    top: -134px;
    left: 20px;
}

.controls .bookmark::after {
    content: "";
    position: absolute;
    border: 4px solid var(--red);
    border-top-width: 6px;
    border-bottom-color: transparent;
    top: 3px;
    left: 9px;
}

.waves-wrapper {
    margin: 1rem 2rem 0 2rem;
    height: 66px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.cv-frequency {
    width: 100%;
    height: 100%;
}

.cv-frequency-bottom {
    transform: scaleY(-1);
}

.play-controls {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 0 3rem;
}

.play-controls > button,
button.volume {
    background-color: var(--yellow);
    border: 3px solid var(--brown);
    border-bottom-width: 5px;
    width: 100%;
    height: 28px;
    text-align: center;
    border-radius: 13px;
    cursor: pointer;
}

.volume-wrapper {
    position: relative;
}

.volume-wrapper > * {
    position: absolute;
    bottom: 48%;
    transform: translateY(50%);
}

.volume-rail {
    background-color: var(--white);
    border: 3px solid var(--brown);
    border-radius: 6px;
    height: 12px;
    margin-left: 20px;
    width: calc(100% - 40px);
}

button.volume {
    bottom: 50%;
    left: 50%;
    width: 50%;
}

.controls-img {
    height: 11px;
}

.play-pause[data-action="play"] .pause-img {
    display: none;
}

.play-pause[data-action="pause"] .play-img {
    display: none;
}

.current-audio-title {
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: var(--white);
    position: absolute;
    right: 150px;
    top: 27px;
    width: 347px;
}

.cv-title {
    background-color: var(--black);
    padding: 0.2rem;
    padding-top: 0.4rem;
    width: 100%;
    position: absolute;
    bottom: 4px;
    right: 0;
}

.time-numbers {
    background-color: var(--white);
    color: var(--brown);
    position: absolute;
    bottom: 20px;
    right: 32px;
}

.volume-container {
    position: absolute;
    right: calc(100% + 1rem);
    bottom: calc(100% + 1rem);
    width: 110px;
    height: 110px;
}

.volume-screw {
    position: relative;
    width: 80px;
    height: 80px;
    top: 20px;
    left: 15px;
    border-radius: 50%;
    background-color: var(--brown);
    cursor: pointer;
}

.volume-red {
    position: relative;
    width: 64px;
    height: 64px;
    top: 8px;
    left: 8px;
    border-radius: 50%;
    background-color: var(--red);
}

.volume-black {
    position: relative;
    width: 58px;
    height: 58px;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    background-color: var(--black);
    transform: rotate(67.5deg);
}

.volume-pointer {
    position: relative;
    height: 20px;
    width: 6px;
    border-radius: 2px;
    background-color: var(--white);
    top: 6px;
    left: 26px;
}

.volume-traces {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.trace {
    position: absolute;
    width: 2px;
    height: 120px;
    border-radius: 2px;
    right: 50%;
    transform: translateX(50%);
}

.trace span {
    display: block;
    width: 100%;
    border-radius: 2px;
    height: 12px;
    background-color: var(--white);
}

.trace-1 {
    transform: translateX(50%) rotate(-67.5deg);
}

.trace-2 {
    transform: translateX(50%) rotate(-45deg);
}

.trace-3 {
    transform: translateX(50%) rotate(-22.5deg);
}

.trace-5 {
    transform: translateX(50%) rotate(22.5deg);
}

.trace-6 {
    transform: translateX(50%) rotate(45deg);
}

.trace-7 {
    transform: translateX(50%) rotate(67.5deg);
}
