.list-of-episodes {
    background-color: var(--white);
    position: relative;
    z-index: 2;
    border-radius: 30px;
    border: 4px solid var(--brown);
    grid-row: 1 /span 2;
}

.list-of-episodes ul {
    list-style: none; 
}

.episodes-list {
    margin: 2rem 2rem 2rem 1rem;
    direction: rtl;
    overflow-y: scroll;
    height: calc(100% - 4rem);
    scrollbar-width: thin;
    scrollbar-color: var(--brown) var(--brown-transparent);
    cursor: pointer;
}

.episode__wrapper {
    direction: ltr;
    text-align: left;
    position: relative;
    padding: 1rem;
    padding-right: 2.4rem;
    border-bottom: 1px solid var(--brown-transparent);
}

.episode__wrapper.selected {
    color: var(--yellow);
}

.episode__wrapper.selected .selected-episode__logo {
    display: block;
}

.episode-number {
    font-size: 12px;
}

.podcats-name {
    font-size: 12px;
}

.selected-episode__logo {
    display: none;
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    width: 30px;
    height: 30px;
}

.selected-episode__logo .logo-line {
    position: absolute;
    width: 5px;
    height: 30px;
    border-radius: 3px;
    left: 12px;
    top: 0;
    background-color: var(--yellow);
}

.selected-episode__logo .line-2 {
    left: 6px;
    height: 20px;
    top: 5px;
}

.selected-episode__logo .line-1 {
    left: 0px;
    height: 10px;
    top: 10px;
}

.selected-episode__logo .line-4 {
    left: 18px;
    height: 20px;
    top: 5px;
}

.selected-episode__logo .line-5 {
    left: 24px;
    height: 10px;
    top: 10px;
}
