.vinyl-box {
    width: 664px;
    height: 346px;
    overflow-y: scroll;
    overflow-x: clip;
    scrollbar-width: thin;
    direction: rtl;
    grid-column: 1;
}

.vinyl-container {
    display: grid;
    padding-left: 6.4rem;
    grid-template-columns: repeat(4, var(--vinyl-size));
    grid-template-rows: repeat(auto-fill, var(--vinyl-size));
    gap: 1.4rem 3rem;
    direction: ltr;
}

.vinyl-pod {
    position: relative;
    width: var(--vinyl-size);
    height: var(--vinyl-size);
    cursor: pointer;
}

.vinyl {
    position: absolute;
    left: 0;
    top: 5px;
    width: 90px;
    transition: 0.2s;
    z-index: 1;
}

.vinyl-case {
    position: absolute;
    left: 0;
    width: var(--vinyl-size);
    height: var(--vinyl-size);
    transition: 0.2s;
    z-index: 4;
    object-fit: cover;
}

.vinyl-pod.selected {
    z-index: 9;
}

.vinyl-pod:hover .vinyl,
.vinyl-pod.selected .vinyl {
    left: -30px;
}

.vinyl-pod.selected .vinyl {
    z-index: 10;
}

.vinyl-pod:hover:not(.empty) .vinyl-case,
.vinyl-pod.selected .vinyl-case {
    left: 10px;
    z-index: 9;
}

@keyframes take-the-vinyl-out {
    0% { left: -30px; }
    20% { left: -90px; }
    100% {
        left: -30px;
        z-index: 10;
    }
}
.vinyl-pod.selected .vinyl.animate-take-the-vinyl-out {
    animation-name: take-the-vinyl-out;
    animation-duration: 1s;
}

@keyframes keep-in-its-box {
    0% { 
        left: -30px; 
        z-index: 10;
    }
    20% { 
        left: -100px; 
        z-index: 1;
    }
    100% { left: 0px; }
}
.vinyl-pod .keep-the-vinyl-in-its-box {
    animation-name: keep-in-its-box;
    animation-duration: 1s;
}

.vinyl-pod .keep-the-vinyl-in-its-box + .vinyl-case {
    z-index: 2;
}
